.table-books {
    width: 80%;
    margin: 20px auto;
}

table  {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

tr:hover {
    background-color: #e0e0d1;
}

img {
    width: 100px;
}

mat-checkbox {
    padding: 20px
}